
@{
    ViewBag.Title = "Giỏ hàng";
    Layout = "~/Views/Shared/_LayoutNotSlide.cshtml";
}
<h2>Giỏ hàng</h2>
<form>
    <table class="table">
        <tr>
            <th>STT</th>
            <th>Tên</th>
            <th>Hình</th>
            <th>Số lượng</th>
            <th>Giá</th>
            <th></th>
        </tr>
        @{ int i = 0;int? tongtien = 0;}
        @foreach (var p in ShoppingCart.Cart.Items)
        {
            <tr>
                <td>@(i = i + 1)</td>
                <td>@p.TenCaThe</td>
                <td><img src="~/assets/client/images/@(p.HinhAnh.Substring(0, p.HinhAnh.IndexOf("|")))" style="width:100px;height:50px;" alt=""></td>
                <td>1</td>
                <td>@Html.FormatValue(p.GiaBan, "{0:c}")</td>
                <td>
                    <a href="#" class="remove-from-cart" data-id="@p.MaCaThe" data-gia="@p.GiaBan">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </td>
            </tr>
            tongtien += p.GiaBan;
        }
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th>Tổng tiền</th>
            <th id="sum">@Html.FormatValue(tongtien, "{0:c}")</th>
            <th></th>
        </tr>
    </table>
    <script>
        $(function(){
            $(".remove-from-cart").click(function () {
                    var id = $(this).attr("data-id");
                    $.ajax({
                        url: "/Cart/Remove",
                        data: { id: id },
                        success: function (response) {
                            $("#sum").text(response.tong);
                            //$(".nn-cart #cnt").html(response.Count);
                            //$(".nn-cart #amt").html(response.Amount);
                        }
                    });
                    // Xóa <tr> chứa sản phẩm bị xóa
                    $(this).parents("tr").hide(200);
                    return false;
                    //});
                });
            });
      

      
    </script>

    <div>
        <a class="btn btn-default" href="/Order/Checkout">Xác nhận</a>
        <a class="btn btn-default" href="/Cart/Clear">Xóa hết</a>
        @*<a class="btn btn-default" href="/Home/Index">Tiếp tục mua hàng</a>*@
    </div>
</form>
