@model List<G_Shop.Models.CaThe>

@{
    ViewBag.Title = "Kết quả tìm kiếm";
    Layout = "~/Views/Shared/_LayoutNotSlide.cshtml";
}
<script src="~/Scripts/Shoppingcart.js"></script>
<div class="row">
    <div class="col-lg-12">
        <h3>Kết quả tìm kiếm</h3>
    </div>
</div>
<hr />
<div class="row">
    @foreach (var item in Model)
    {

        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <img src="~/assets/client/images/@(item.HinhAnh.Substring(0, item.HinhAnh.IndexOf("|")))" style="width:320px;height:150px;" alt="">
                <div class="caption">
                    <h5 class="pull-right">@Html.FormatValue(@item.GiaBan, "{0:c}")</h5>
                    <h4>@item.TenCaThe</h4>
                    <a href="@Url.Action("ChiTiet",new { MaLoai= item.MaLoai, MaCaThe= item.MaCaThe})" class="pull-right">Xem chi tiết</a>
                    
                    @if(Session["user"] != null && item.TinhTrang == "Sẵn bán") {
                        <button class="add-to-cart btn-lg gioHang" data-id="@item.MaCaThe" data-toggle="tooltip" title="Thêm vào giỏ hàng">
                            <span class="glyphicon glyphicon-shopping-cart">

                            </span>
                        </button>
                        @*<a href="#"><img style="width:50px;height:30px" class="add-to-cart" data-id="@Model[i].MaCaThe" src="~/assets/client/images/Add to basket.png" /></a>*@
                    } else {
                        <p class="text-danger">@(item.TinhTrang != "Sẵn bán" ? "Đã bán" : "")</p>
                    }


                 </div>
                @*<div class="ratings">
                        <p class="pull-right">15 reviews</p>
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                        </p>
                    </div>*@
            </div>
        </div>
    }
</div>


